{% load static %}

    <link type='text/css' rel="stylesheet" href="{% static 'style/styles.css' %}">
    <h1>{{message}}</h1>
    <h3>Thank you for Visiting!!</h3>
    <img src="{% static 'images/chip_01.jpg' %}"/>
    <p>My name is Chip Pickering, and I am a Software Engineer. I have generated this website in hopes to facilitate establishing initial communication with potential employers and/or partners. If you would be so kind as to provide me with just a basic name, contactable email address, and a brief description. I will be storing this information in a database for my own personal and professional records.</p>
    <br/>
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <h5>Thank you so much for your time!!</h5>
        <input type="submit" value="Submit!!">
    </form>
    <a href="/resume/">resume</a>
