{% load static %}
<link type='text/css' rel="stylesheet" href="{% static 'style/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <div id="header_left">
        <h1 id="header_title">Chip Pickering</h1>
        <h5 id="header_subtitle">Software Engineer</h5>
        <p id="header_para"></p>
    </div>
    <div id="header_right">
        <p id="email_p"><i class="fa fa-envelope-square"></i> c.pick.coding@gmail.com</p>
        <p id="phone_p"><i class="fa fa-phone-square"></i> +14197909615</p>
        <p id="locale_p"><i class="fa fa-thumb-tack"></i> Celina, Ohio USA</p>
        <p id="linked_p"><a href="https://www.linkedin.com/in/chip-pickering-97554a1a8/"><i
                    class="fa fa-linkedin-square"></i> chip_pickering</a></p>
    </div>
</header>
<hr>
<div class="section_sep">
    <hr>
    <h3>Skills</h3>
    <hr>
    <div id="skills">
        <div id='frameworks'>
            <ul>
                <li>React</li>
                <li>React-Native</li>
                <li>Flutter</li>
                <li>Django</li>
                <li>ExpressJS</li>
            </ul>
        </div>
        <div id='languages'>
            <ul>
                <li>HTML/CSS/JavaScript</li>
                <li>Python</li>
                <li>Dart</li>
                <li>Django</li>
            </ul>
        </div>
    </div>
</div>
<div class="section_sep">
    <hr>
    <h3>Work Experience</h3>
    <hr>
    <p id="exp_p"></p>
</div>
<div class="section_sep">
    <hr>
    <h3>Education</h3>
    <hr>
    <div id="certs">
        <p><image id="front_p" src="{% static 'images/Pickering III, Ralph E (1).png' %}"></i></p>
        <p><image id="full_p" src="{% static 'images/Ralph_Pickering_FULL STACK WEB DEVELOPMENT-1.png' %}"></i></p>

    </div>
</div>
<div class="section_sep">
    <hr>
    <h3>Organizations</h3>
    <p id="orgs_p"></p>
    <hr>
    <hr>
</div>


<a href="/">home</a>